<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../vendors/bootstrap-4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/index.css">

    <title>Info-System</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Info-System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="btn btn-primary" href="#">Войти</a>
            </li>
        </ul>
    </div>
</nav>

<div class="form-signin-container">
    <form class="form-signin mt-4" action="#">
        <h1 class="h3 mb-3 font-weight-normal text-center">Авторизация</h1>
        <div class="alert alert-danger" role="alert">
            Пожалуйста, введите правильные имя пользователя и пароль
        </div>
        <label class="sr-only">Логин</label>
        <input type="text" class="form-control" placeholder="Логин" required autofocus>
        <label class="sr-only">Пароль</label>
        <input type="password" class="form-control" placeholder="Пароль" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
</div>


<script defer src="../vendors/bootstrap-4.1.0/assets/js/vendor/jquery-slim.min.js"></script>
<script defer src="../vendors/bootstrap-4.1.0/assets/js/vendor/popper.min.js"></script>
<script defer src="../vendors/bootstrap-4.1.0/js/bootstrap.min.js"></script>
<script defer src="../js/main.js"></script>
</body>
</html>